extends ../HomePage

block content 
    div(class="p-8 w-full")
        div(class="flex flex-row justify-between items-center")
            h1(class="text-4xl") Categories
            a(href="/categories/create")
                button(class="px-4 py-2 bg-sky-600 text-white rounded-md") Create 
        div(class="categories grid grid-cols-3 gap-8 mt-8")
            if categories.length > 0
                each category in categories
                    a(href=category.url) 
                        div(class="category text-center flex flex-col justify-center items-center border-2 border-solid border-black rounded-md p-8 h-full")
                            span(class="uppercase")= category.name 
                            span= category.description
            else 
                h1 There are no categories